.body{
	background-image:url("bg1.jpg");
    font-family: 'KoHo', sans-serif;
}
.logo{
    width: 3rem;
}
.nav-bg{
    background: linear-gradient(to right,#5B33CA,#8853A1);
}
.myRow{
    Height: 50vh;
}
.myBg{
    background: linear-gradient(90deg,#AE89D9,#968BEB);
}
.myBtn{
    background: linear-gradient(to left,#5B33CA,#8853A1);
    border: 1px solid #AE89D9;
}